@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

* {
  box-sizing: border-box;
}
:root {
  --bg-main: #ffffff;
  --bg-panel: rgba(255, 255, 255, 0.22);
  --text-main: #1b1a1a;
  --text-soft: rgba(17, 17, 17, 1);
  --line-color: rgba(17, 17, 17, 0.5);
  --button-bg: #111111;
  --button-text: #ffffff;
  --social-color: #111111;
  --social-line: rgba(17,17,17,0.5);
  --button-shadow: 0 8px 25px rgba(0,0,0,0.45);
  --radial-1: rgba(0,0,0,0.6);
  --radial-2: rgba(0,0,0,0.4);
}

.dark {
  --bg-main: #1b1a1a;
  --bg-panel: rgba(255, 255, 255, 0.03);
  --text-main: #ffffff;
  --text-soft: rgba(255, 255, 255, 0.8);
  --line-color: rgba(255, 255, 255, 0.55);
  --button-bg: #ffffff;
  --button-text: #111111;
  --social-color: #ffffff;
  --social-line: rgba(255,255,255,0.9);
  --button-shadow: 0 8px 25px rgba(255,255,255,0.45);
  --radial-1: rgba(255,255,255,0.14);
  --radial-2: rgba(255,255,255,0.04);
}

@keyframes radialFloat {
  0% {
    transform: translate3d(0px, 0px, 0) scale(1);
    opacity: 0.9;
  }
  50% {
    transform: translate3d(120px, 80px, 0) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, 0px, 0) scale(1);
    opacity: 0.9;
  }
}

.animate-radialFloat {
  animation: radialFloat 12s ease-in-out infinite;
}